/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}

button
{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    margin: 2px;
    font-size: 15px;
}

button:hover
{
    border-color: rgb(0, 255, 255);
}

textarea
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

hr
{
    margin: 2px;
}

/* target all scrollbars */
::-webkit-scrollbar {
    width: 7px; /* Width for vertical scrollbar, height for horizontal */
}

/* style the scrollbar track */
::-webkit-scrollbar-track {
    background: black; /* Black background for the track */
}

/* style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: aqua; /* Aqua color for the thumb */
    border-radius: 5px; /* Optional: Rounded corners for the thumb */
}

/* style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00B7EB; /* A lighter shade of aqua on hover */
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

